[submodule "pints"]
	path = pints
	url = https://github.com/pints-team/pints.git
	master = master
[submodule "res"]
	path = res
	url = git@github.com:pints-team/functional-testing-results.git
	master = master
